
@{
    ViewBag.Title = "CreateMedia";
}

<h2>Create media page</h2>

@Html.ActionLink("Add Series", "CreateSeries", "Media", htmlAttributes: new { @class = "btn btn-primary" })
@Html.ActionLink("Add Movie", "CreateMovie", "Media", htmlAttributes: new { @class = "btn btn-primary" })