@model IEnumerable<YMovies.Web.Dtos.TypeWebDto>

<h3 class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    Types
</h3>
<div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
    @foreach (var type in Model)
    {
        @Html.HiddenFor(c => type.Id)
        @Html.ActionLink(type.Name, "FilterInclude", "Movies", new { genreId = type.Id }, new { @class = "btn btn-primary " })
        @Html.ActionLink("Exclude", "FilterExclude", "Movies", type.Id, new { @class = "btn btn-primary" })
    }
</div>
