<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-YMovies.Web-20211221031721.mdf;Initial Catalog=aspnet-YMovies.Web-20211221031721;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="IdentityDb" providerName="System.Data.SqlClient"
         connectionString="Server=tcp:ymovies-sqlserver.database.windows.net,1433;Initial Catalog=ymovies.identity;Persist Security Info=False;User ID=twonightsdbadmin;Password=!two123765nights#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>