<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>    
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-YMovies.Web-20211221031721.mdf;Initial Catalog=aspnet-YMovies.Web-20211221031721;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MoviesDb" providerName="System.Data.SqlClient"
         connectionString="Server=tcp:ymovies-sqlserver.database.windows.net,1433;Initial Catalog=ymovies.moviesdatabase;Persist Security Info=False;User ID=twonightsdbadmin;Password=!two123765nights#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>